<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
<!-- 서버의 루트 주소만을 입력하여 접근했을 경우 가장 처음에 띄워줄 경로를 설정하는 tag -->
	<display-name>Servlet</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- 서블릿 선언 -->
	<servlet>
		<servlet-name>Servlet_Exam</servlet-name><!-- 서블릿의 별명을 설정 -->
		<servlet-class>Servlet_Exam</servlet-class><!-- 패키지 이름을 포함한 서블릿 클래스명을 설정 -->
	</servlet>
	<servlet>
		<servlet-name>GenericServlet_Exam</servlet-name>
		<servlet-class>GenericServlet_Exam</servlet-class>
	</servlet>

	<!-- 서블릿을 URL과 연결 -->
	<servlet-mapping>
		<servlet-name>Servlet_Exam</servlet-name><!-- 서블릿의 별명을 설정(서블릿 선언에서 작성한 별명과 동일해야함) -->
		<url-pattern>/Servlet</url-pattern><!-- 서블릿을 요청할 때 클라이언트가 사용할 url을 설정 -->
	</servlet-mapping>
 	<servlet-mapping>
		<servlet-name>GenericServlet_Exam</servlet-name>
		<url-pattern>/GenericServlet</url-pattern>
	</servlet-mapping>
</web-app>